// Custom.scss
// Вариант А: Включите весь Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

$theme-colors: (
  "success": $success,
  "dark": $dark,
);

$white: #ffffff;
$black: #000000;
$basic-blue: #05203e;
$basic-green: #7bb745;
$basic-yellow: #fac017;
$main-background: #f9f5e7;

body {
  color: $success;
  background-color: $main-background;
}

._box-main {
  min-height: 680px;
  background-color: $yellow-300;
  border-radius: 0px 0px 24px 24px;
  main h1 {
    color: $white;
    font-size: 88px;
    font-weight: 600;
    line-height: 84px;
    letter-spacing: 0px;
    text-align: left;
  }
  main h3 {
    color: $white;
    font-size: 28px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0px;
    text-align: left;
  }
}

._picture-main {
  margin-left: -6rem;
}

.navbar {
  border-radius: 24px;
  background: linear-gradient(
    108.46deg,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
}

._btn-phone,
._btn-messenger {
  border-radius: 16px;
}

._btn-phone {
  a {
    text-decoration: none;
    color: $black;
  }
}

._box-advantages {
  max-height: 992px;
  color: $basic-blue;
  border-radius: 0px 0px 24px 24px;
  background-color: $white;
}

._title-advantages {
  span {
    color: $basic-green;
    text-decoration: underline;
  }
}

._cards-advantages {
  border: 1px solid #d6dade;
  border-radius: 24px;
  max-height: 420px;
  img {
    transform: scale(0.85);
  }
}

._img-illustration {
  margin-top: -40%;
}

._box-programs {
  min-height: 680px;
  border-radius: 0px 0px 24px 24px;
}

._title-programs {
  color: $basic-blue;
  font-size: 70px;
  font-weight: 600;
  line-height: 76px;
  letter-spacing: 0px;
  text-align: left;
}

._card-programs {
  border-radius: 26px;
  background-size: 100%;
  width: 610px;
  height: 380px;
  color: $white;
  p {
    font-size: 21px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
  }
}

._card-first {
  background-image: url(../img/card_1-1.jpg);
}

._card-second {
  background-image: url(../img/card_2-2.jpg);
}

._card-third {
  background-image: url(../img/card_3-3.jpg);
}

._card-fourth {
  background-image: url(../img/card_4-4.jpg);
}

._btn-card {
  width: 80px;
  height: 80px;
  top: 268px;
  left: 498px;
  padding: 28.33px;
  border-radius: 166.67px;
  gap: 13.33px;
  background-color: $white;
}

._card-attention {
  border-radius: 26px;
  background-size: 100%;
  background-image: url(../img/attention-web.jpg);
  min-height: 118px;
  color: $basic-blue;
  h2 {
    font-size: 28px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0px;
  }
  p {
    font-size: 28px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0px;
  }
}
